@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
.container-content{
  padding: 10px 5%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Rubik";
}
.container-title{
  padding: 20px 0px 0px 0px;
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container-content h1{
  padding:0px;
  margin: 0px;
  color: indigo;
  font-weight: 700;
}

.container-content h3{
  color: indigo;
  font-weight: 400;
  padding:0px;
  margin: 0px;
}
.link-sub{
  display: flex;
}

.form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 150px;
}
.input-texts{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0px;
}
.input-big{
  width: 100%;
}
.content-upload{
  padding: 0px 5%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 160px;
}
.content-upload p{
  margin: 0px;
  font-family: "Rubik";
  color: indigo;
  font-weight: bold;
}
.botao-analise{
  display: flex;
  justify-content: center;
}

.botao-analise button{
  height: 50px;
  width: 50%;
  border-radius: 8px;
  border: 2px solid indigo;
  background: indigo;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;}

.botao-analise button:hover{
  background-color: #ffffff;
color: indigo;}

@media only screen and (max-width: 1100px) {
  .input-small{
    width: 100%;
  }
  .input-texts{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-flow: column;
  }
  .form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 320px;
  }
  .botao-analise button{
    height: 50px;
    width: 100%;
}
  
}