@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
.footer{
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(27, 26, 26);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}

.footer h1{
font-size: 20px;
}